body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    color: #333;
}

.temperature {
    font-size: 3em;
    text-align: center;
    margin: 20px 0;
}

.timestamp {
    text-align: center;
    color: #888;
    margin-top: 10px;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #0056b3;
}
